*{
    padding: 0;
    margin 0;
    box-sizing: border-box;
}

body{
    font-size: ;
    font-family: ;
}

h1{
    font: size ;    
    margin: bottom ; 
    border: bottom ; 
}

article{
    width: 100px;   
    background: ;
    margin: ;
    padding: ;
}

.button{
    color:rgb(243, 115, 115);
    margin-left: 50px;
    font-size: 27px;
    margin-left: 50px;
}

figure{
    margin-bottom: ;
}

img{
    width: ;
    border-radius: ;
}

p{
    margin-bottom: ;
}

figcaption{
    font-size: ;
    font-style: ;
}